.FearList-A {
  list-style-type: none;
  background-color: darkcyan;
  color: rgb(245, 245, 226);
  display: block;

}


.FearList-Title {
  color: goldenrod;
  font-weight: bold ;
  font-variant-caps: small-caps;

}

