.FearList {
  list-style-type: none;

  color: black;
  display: block;
}

.FearList-Title {
  color: goldenrod;
  font-weight: bold;
  font-variant-caps: small-caps;
}

.FearList-Input {
  font-size: 90%;
  color: #183319;
  border-radius: 5px;
  display: inline-flex;
  background-color: #fdcc9a6d;
  border: 2px solid #653414a3;
}

.FearList-Submit {
  color: #183319;
  border-bottom: 2px solid #b2b2b2;
  border-radius: 7px;
}

.FearList-List {
  color: #356732;
  font-variant-caps: small-caps;
  padding: 0.075em;
}
