* {
  box-sizing: border-box;
  font-family: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 20px;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: url("./images/stripes.png");
  font-variant: small-caps;
  max-width: 400px;
  margin: 1rem;
  padding: 0.5rem;
  align-content: center;
}

a {
  transition: color 0.15s, background-color 0.15s;
  padding: 0.3em;
  font-size: 1.3em;
  text-decoration: none;
}
/* Unvisited link - which is the default state. :link is a pseudo-class. */
a:link {
  background-color: transparent;
  color: #356732;
}
a:visited {
  background-color: transparent;
  color: #669966;
}
a:focused {
  background-color: #99cc99;
  color: white;
}
a:hover {
  background-color: #356732;
  color: white;
}

h1 {
  color: goldenrod;
}
hr {
  height: 4px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
h3 {
  color: #356732;
}
